html {
  border-top: 4px solid orange;
  background-color: #fffdfd;
}
body {
  line-height:1.6;
  font-size:18px;
  color:#444;
  font-family: NunitoSans, sans-serif;
  margin: 0;
  padding: 0;
}
h1,h2,h3 {
  line-height: 1.2;
  clear: both;
  font-weight: 500;
  color: #333;
}
footer {
  text-align: center;
  border-top: 1px solid #fbd492;
  border-bottom: 1px solid #fbd492;
  background-color: #fff9f2;
  padding: 1em;
  margin-top: 4em;
}
header {
  font-size: 1.5em;
  font-weight: 500;
  color: black;
  padding: 1em 1em 2em;
  text-align: center;
}
header a {
  color: currentColor;
  text-decoration: none;
}
h1 a {
  color: currentColor;
  text-decoration: none;
  border-bottom: 3px solid currentColor;
}
nav a {
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 165, 0, 0);
  transition: border-bottom-color 250ms;
}
nav a:hover {
  border-bottom-color: rgba(255, 165, 0, 1);
}
article {
  margin-top: 2em;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 3px solid #fde8c4;
}
:target {
  background-color: #fff9f2;
  padding: 0.25em 0.5em;
  margin-left: -0.5em;
  border-left: 3px solid orange;
}
.list-inline {
  margin: 1em;
  display: flex;
  justify-content: center;
}
.list-inline > div {
  display: inline;
  padding: 0 0.5em;
  flex: 0 1 4em;
}
.logo {
  vertical-align: top;
  width: 50px;
  height: 40px;
  margin: 0 0.5em;
}
.main {
  margin: 40px auto;
  max-width: 650px;
  padding: 0 10px;
}
.feedicon {
  text-decoration: none;
  margin: 0 0.1em;
}
.feedicon img {
  border-radius: 3px;
  width: 0.75em;
  height: 0.75em;
  filter: grayscale(100%);
  transition: filter 200ms;
}
.feedicon img:hover {
  filter: none;
}

#search {
  margin-bottom: 2em;
}
#search input[type="text"] {
  width: 20em;
}
.socials {
  margin-top: 1em;
}
.socials img {
  width: 32px;
  height: 32px;
  margin: 0 0.25em;
}

@media (max-width: 768px) {
  header {
    padding-bottom: 1em;
  }
  .main {
    margin-top: 0;
  }
  .feedicon {
    margin-top: 1em;
  }
}
