html {
  border-top: 4px solid orange;
  background-color: #fffdfd;
}
body {
  line-height:1.6;
  font-size:18px;
  color:#444;
  font-family: NunitoSans, sans-serif;
  margin: 0;
  padding: 0;
}
h1,h2,h3 {
  line-height: 1.2;
  clear: both;
  font-weight: 500;
  color: #333;
}
footer {
  text-align: center;
  border-top: 1px solid #fbd492;
  border-bottom: 1px solid #fbd492;
  background-color: #fff9f2;
  padding: 0.25em 0;
}
header {
  font-size: 1.5em;
  font-weight: 500;
  color: black;
  padding: 1em 1em 2em;
  text-align: center;
}
header a {
  color: currentColor;
  text-decoration: none;
}
h1 a {
  color: currentColor;
  text-decoration: none;
  border-bottom: 3px solid currentColor;
}
nav a {
  text-transform: uppercase;
  font-size: 18px;
}
nav a:hover {
  border-bottom: 1px solid orange;
}
h1 a:hover {
}
.list-inline {
  padding: 0;
}
.list-inline li {
  display: inline;
  margin: 0 1em;
}
.logo {
  vertical-align: top;
  width: 50px;
  height: 40px;
  margin: 0 0.5em;
}
.main {
  margin: 40px auto;
  max-width: 650px;
  padding: 0 10px;
}
.subscribe {
  text-align: center;
}
.subscribe:after {
  display: block;
  content: ' ';
  visibility: hidden;
  clear: both;
}
.feedicon {
  display: inline-block;
  width: 90px;
  margin: 0 2em;
}
.feedicon img {
  border-radius: 15px;
  width: 70px;
  height: 70px;
}

@media (max-width: 349px) {
  header {
    padding-bottom: 1em;
  }
  .feedicon {
    margin-top: 1em;
  }
}
