<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>{{ page.title }} – Read Rust</title>
    <link rel="stylesheet" type="text/css" href="/fonts.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <link rel="alternate" title="#Rust2018 JSON Feed" type="application/json" href="http://readrust.net/rust2018/feed.json" />
    <link rel="alternate" title="#Rust2018 RSS Feed" type="application/rss+xml" href="http://readrust.net/rust2018/feed.rss">
    <meta name="description" content="Read Rust provides feeds that you can subscribe to in order to keep up with #Rust2018 no matter where articles are published.">
  </head>
  <body>
    <header>
      <a href="/">Read</a>
      <a href="/"><img src="/images/logo.svg" class="logo" /></a>
      <a href="/">Rust</a>
    </header>
    <div class="main">
      <h1><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
      {{ page.content }}
    </div>
    <footer>
      Copyright © 2018 <a href="http://www.wezm.net/about/">Wesley Moore</a>.
      <a href="https://github.com/wezm/read-rust">Source code on GitHub</a>.
      <br>
      Website built with <a href="http://cobalt-org.github.io/">Cobalt</a>.
    </footer>
  </body>
</html>
