<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>{{ page.title }} – Read Rust</title>
    <link rel="stylesheet" type="text/css" href="/fonts.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <link rel="alternate" title="#Rust2018 JSON Feed" type="application/json" href="http://readrust.net/rust2018/feed.json" />
    <link rel="alternate" title="#Rust2018 RSS Feed" type="application/rss+xml" href="http://readrust.net/rust2018/feed.rss">
    <meta name="description" content="Read Rust provides feeds that you can subscribe to in order to keep up with #Rust2018 no matter where articles are published.">
  </head>
  <body>
    <header>
      <a href="/">Read <img src="/images/logo.svg" class="logo" /> Rust</a>

      <nav>
        <div class="list-inline">
          <div><a href="/">Home</a></div>
          <div><a href="/about.html">About</a></div>
          <div><a href="/faq.html">FAQ</a></div>
          <div><a href="/submit.html">Submit</a></div>
        </div>
      </nav>
    </header>
    <div class="main">
      <h1><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
      {{ page.content }}
    </div>
    <footer>
      <form method="get" id="search" class="right" action="https://duckduckgo.com/">
        <input name="sites" value="readrust.net" type="hidden">
        <input name="kz" value="-1" type="hidden">
        <input name="kaf" value="1" type="hidden">
        <input name="q" id="q" maxlength="255" placeholder="Search" autocapitalize="off" autocomplete="off" title="Search Read Rust" type="text">
        <input value="Search" type="submit">
      </form>

      Copyright © 2018 <a href="http://www.wezm.net/about/">Wesley Moore</a>.<br>
      Powered by <a href="https://www.freebsd.org/">FreeBSD</a>. Built with <a href="http://cobalt-org.github.io/">Cobalt</a>.
    </footer>
  </body>
</html>
