<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/fonts.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
  </head>
  <body>
    <div class="main">
      <h1>{{ page.title }}</h1>
      {{ page.content }}
    </div>
    <footer>
      Copyright © 2018 <a href="http://www.wezm.net/">Wesley Moore</a>.
      <a href="https://github.com/wezm/read-rust">Source code on GitHub</a>.
      <br>
      Built with <a href="http://cobalt-org.github.io/">Cobalt</a>.
    </footer>
  </body>
</html>
